.recipeDetail-page {
  width: 100%;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

.recipeDetail-container {
  display: flex;
  flex-direction: row;
  margin: auto;
  margin-left: 20px;
  margin-right: 20px;
  padding: 50px;
  align-content: center;
  background-color: white;
}

.recipeDetail-info-container {
  display: flex;
  flex-direction: column;
  width: 400px;
  padding-left: 50px;
  padding-right: 50px;
}

.recipeDetail-title {
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  color: #465373;
  font-size:  1.5em;
  font-weight: 500;
}

.recipeDetail-info {
  background-color: white;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}

.recipeDetail-image {
  width: 100%;
}

.recipeDetail-image img {
  width: inherit;
}