.RecipeDetailedInfo-container {
  display: inline-block;
  margin: 5px auto;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  min-width: 225px;
}

.RecipeDetailedInfo-title {
  text-align: Left;
  font-size: 1.5em;
  padding-bottom: 5px;
}

.RecipeDetailedInfo-item {
  padding: 5px 0px;
}

.RecipeDetailedInfo-item:hover {
  background-color: rgba(232,173,38, 0.5);
}